div {

}

.image-footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.image-number {
  color: #C3C3C4;
}

.image-caption {
  
}

a {
  color: #2D2D2D;
  font-weight: bold;
  text-decoration: none;
}

li.octocat {
  border: 1px solid transparent;
  border-color: #C3C3C3;
}

span {
  color: #6C6C6C;
}

img {
  width: 300px;
}

ul.octodex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: none;
}

li {
  list-style: none;
}
